@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Japanese', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(background.webp);
}

.slider{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;

}
.slider__content {
    margin: 0 40px;
    padding: 45px 20px;
    border-radius: 25px;
    overflow: hidden;
}
.slider__card {
    width: 320px;
    background-color: aliceblue;
    border-radius: 25px;
}

.card__img-content,
.card__text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.card__img-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.card__image-block {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: grey;
    padding: 3px;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #656a80;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    width: 40px;
    height: 40px;
    background-color: #656a80;
}

.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: aliceblue;
}

.card__image {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #656a80;

}
.card__name {
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.card__discription{
    font-size: 14px;
    color: black;
    text-align: center;

}

.card__button{
    border: none;
    font-size: 16px;
    color: aliceblue;
    padding:  8px 16px;
    background-color: #656a80;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.card__button:hover{
    background-color: grey;
}
